.tables{
    display: flex;
}
table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    background-color: #4c9eb0;
}
.td{
    display: flex;
    justify-content: center;
}
.tr{
    display: flex;
    justify-content: center;
}
img{
    height: 200px;
    width: 230px;
}